$h1-size: 25px;
$h2-size: 20px;
$h3-size: 15px;

$p-bazic-size: 13px;


$Font-bazic-color: rgba(206, 204, 204, 0.801);
$primaryColor: #5D1049;
$secondaryColor: #EAC435;
$linkColor: #F4D35E;
$backgroundColor: #b35454;
$textColor: #ffffff;
$footerBackgroundColor: #3C1B43;